@{
    ViewBag.Title = "Home Page";
}
@model Lab5.Models.OutputViewModel
<div class="row m-t-md">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6"><b>Результати вимірювань</b></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="inputData">
                    <tr>
                        <th>#</th>
                        <th>Напрямок,<br/>Час</th>
                        <th>#1</th>
                        <th>#2</th>
                        <th>#3</th>
                        <th>#4</th>
                        <th>Середнє значення</th>
                    </tr>

                    @foreach(var row in Model.InputTable)
                    {
                        <tr>
                            <td>@(Model.InputTable.IndexOf(row) + 1)</td>
                            <td>@(row.Time != null ? row.Time.ToString() : "Середнє значення")</td>
                            <td>@row.Experiment1</td>
                            <td>@row.Experiment2</td>
                            <td>@row.Experiment3</td>
                            <td>@row.Experiment4</td>
                            <td>@row.MiddleValue</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.Q) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.Q)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.Q1) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.Q1)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.Q2) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.Q2)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.Q3) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.Q3)</div>
        </div>



        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.S) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.S)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.S1) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.S1)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.S2) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.S2)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.S3) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.S3)</div>
        </div>



        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.FemA) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.FemA)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.FemB) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.FemB)</div>
        </div>



        <div class="row">
            <div class="col-md-4"><b>Рівень значимості α = 0.01</b></div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.FcrA001) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.FcrA001)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.FcrB001) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.FcrB001)</div>
        </div>



        <div class="row">
            <div class="col-md-4"><b>Рівень значимості α = 0.05</b></div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.FcrA005) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.FcrA005)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">@Html.LabelFor(model => model.FcrB005) =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.FcrB005)</div>
        </div>
    </div>
</div>