@{
    ViewBag.Title = "Home Page";
}
@model Lab6.Models.OutputViewModel

<div class="row m-t-md">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4"><b>Обсяг вибірки є великим (n > 50)</b></div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">K<sub>xy</sub>* =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.BigKxy)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">S<sub>0x</sub> =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.BigS0x)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">S<sub>0y</sub> =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.BigS0y)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">r<sub>xy</sub>* =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.BigRxy)</div>
        </div>

        <div class="row">
            <div class="col-md-4">
                Нерівність Романовського 
                @Html.DisplayFor(model => model.BigRxy) ≥ @Html.DisplayFor(model => model.RomCoef)
            </div>
        </div>



        <div class="row">
            <div class="col-md-4"><b>Обсяг вибірки є малим (n ≤ 50)</b></div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">K<sub>xy</sub>* =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.Kxy)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">S<sub>0x</sub> =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.S0x)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">S<sub>0y</sub> =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.S0y)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">r<sub>xy</sub>* =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.Rxy)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">z<sub>0</sub>* =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.Z)</div>
        </div>



        <div class="row">
            <div class="col-md-4"><b>Рівень значимості α = 0.01</b></div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">r<sub>1xy</sub>* =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.R1xy001)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">r<sub>2xy</sub>* =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.R2xy001)</div>
        </div>

        <div class="row">
            <div class="col-md-4">
                r<sub>1xy</sub>* ≤ r<sub>xy</sub> ≤ r<sub>2xy</sub>*
                @Html.DisplayFor(model => model.R1xy001) ≤ @Html.DisplayFor(model => model.Rxy) ≤ @Html.DisplayFor(model => model.R2xy001)
            </div>
        </div>



        <div class="row">
            <div class="col-md-4"><b>Рівень значимості α = 0.05</b></div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">r<sub>1xy</sub>* =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.R1xy005)</div>
        </div>

        <div class="row">
            <div class="col-md-1 p-r-none">r<sub>2xy</sub>* =</div>
            <div class="col-md-1 p-l-none">@Html.DisplayFor(model => model.R2xy005)</div>
        </div>

        <div class="row">
            <div class="col-md-4">
                r<sub>1xy</sub>* ≤ r<sub>xy</sub> ≤ r<sub>2xy</sub>*
                @Html.DisplayFor(model => model.R1xy005) ≤ @Html.DisplayFor(model => model.Rxy) ≤ @Html.DisplayFor(model => model.R2xy005)
            </div>
        </div>
    </div>
</div>